*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --foreground-color: rgb(202, 202, 202);
    --background-color: rgb(60, 95, 130);
    font-family: "VT323", monospace;
}

body {
    /* border: 1px solid red; */

    background-color: var(--background-color);
    overflow: hidden;
    image-rendering: pixelated;

    display: grid;
    justify-content: center;
    align-content: center;
}

.game-window {
    /* border: 1px solid red; */

    overflow: hidden;
    height: 100vh;
    width: 100vh;
}

.background-image {
    height: 100vh;
    width: 100vh;
}

.score-board {
    /* border: 1px solid red; */
    z-index: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    font-size: 8vh;
    width: 100vh;

    display: flex;
    align-items: center;
}

.score {
    margin-left: 1vh;
}

.score-coin {
    width: 6vh;
    height: 6vh;
    margin-left: 6vh;
}

.sound-btn {
    outline: none;
    border: none;
    /* border: 1px solid red; */
    cursor: pointer;

    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 6vh;
    height: 6vh;

    margin-left: 60vh;

    display: grid;
    justify-content: center;
    align-content: center;
}

.sound-btn-image {
    color: white;
    width: 7vh;
}

.player {
    /* border: 1px solid red; */

    --y: 50;

    position: relative;
    left: 20vh;
    top: calc(var(--y) * 1vh);

    overflow: visible;
    height: 5vh;
    width: 10vh;

    display: grid;
    justify-content: center;
    align-content: center;
}

.player-image {
    --rotation: 50deg;

    width: 13vh;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: all 0.34s;
}

.ground {
    /* border: 1px solid red; */

    --y: 90;

    position: absolute;
    top: calc(var(--y) * 1vh);
    height: 9.9vh;
    width: 100vh;
}

.octopus {
    /* border: 1px solid red; */

    overflow: visible;
    width: 10vh;

    display: grid;
    justify-content: center;
    align-content: center;
}

.octopus-short {
    margin-top: -2vh;
    height: 16vh;
}

.octopus-med {
    height: 29vh;
    margin-top: 7.5vh;
}

.octopus-long {
    margin-top: -2vh;
}

.octopus-image {
    width: 15vh;
}

.kelp {
    /* border: 1px solid red; */

    overflow: visible;
    width: 10vh;

    display: grid;
    justify-content: center;
    align-content: center;
}

.kelp-image {
    width: 15vh;
}

.kelp-short {
    margin-bottom: -2vh;
}
.kelp-med {
    margin-bottom: 1vh;
    height: 22vh;
}
.kelp-long {
    margin-bottom: 2.5vh;
    height: 35vh;
}

.obstacle {
    /* border: 1px solid red; */

    --x: 50;

    height: 90vh;
    width: 10vh;

    position: absolute;
    left: calc(var(--x) * 1vh);
    top: 0vh;

    display: grid;
    justify-content: center;
    align-content: space-between;
}
