*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --foreground-color: rgb(202, 202, 202);
    --background-color: rgb(60, 95, 130);
}

body {
    margin: 0;
    background-color: #333;
    background-color: var(--background-color);
    overflow: hidden;
}

.player {
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
    left: 50vw;
    top: calc(var(--y) * 1vh);
    border-radius: 15%;
    transform: translate(-50%, -50%);
    width: 5vh;
    height: 5vh;
}
