*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --foreground-color: rgb(202, 202, 202);
    --background-color: rgb(60, 95, 130);
}

body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.player {
    --y: 50;

    position: absolute;
    /* background-color: var(--foreground-color); */
    left: 20vw;
    top: calc(var(--y) * 1vh);
    border-radius: 15%;
    height: 5vh;

    display: grid;
    justify-content: center;
    align-content: center;
}

.player-image {
    --rotation: 50deg;

    width: 10vw;
    transform: rotate(var(--rotation));
    transition: all 0.34s;
}

.ground {
    --y: 92;

    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--y) * 1vh);
    height: 8.5vh;
    width: 100vw;
}

.octopus {
    /* border: 1px solid red; */

    --x: 50;

    position: absolute;
    left: calc(var(--x) * 1vw);
    top: -5vh;
    border-radius: 15%;
}

.octopus-image {
    width: 15vw;
}

.kelp {
    /* border: 1px solid red; */

    --x: 50;

    position: absolute;
    left: calc(var(--x) * 1vw);
    top: 64vh;
    border-radius: 15%;
}

.kelp-image {
    width: 18vw;
}

.kelp-medium {
    margin-top: -64px;
}
